<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUp"
            android:exported="false" />

        <activity
            android:name=".Login"
            android:exported="false" />

        <activity
            android:name=".Main"
            android:exported="false" />

        <activity android:name=".AthleteDashboard" />
        <activity android:name=".LogWorkout" />
        <activity android:name=".WorkoutHistory" />
        <activity android:name=".WorkoutDetail" />
        <activity android:name=".TrainerDashboard" />
        <activity android:name=".ClientWorkoutHistory" />
        <activity android:name=".CreateTrainingPlan" />
        <activity android:name=".ClientTrainingPlans" />
        <activity android:name=".AthleteTrainingPlans" />
        <activity android:name=".TrainingPlanDetail" />
        <activity android:name=".ChooseSport" />
        <activity android:name=".Competitions" />
        <activity android:name=".UpcomingCompetitions" />
        <activity android:name=".PastResults" />
        <activity android:name=".CompetitionCalendar" />
        <activity android:name=".Messages" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".CreateGroup" />
    </application>

</manifest>